@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root{
 --greyBackground: #efefef;
 --hintergrundfarbe: #ffffff;
 --schriftfarbeText: #6d6d6d;
 --schriftfarbeTitel: #333333;
 --linkButtons: #9e0d00;
 --farbeButton: #ffffff;

}

body{
 font-family: 'Josefin Sans', sans-serif;
}

.bigBox{
 width: 60%;
 margin-left: 20%;
 background-color: var(--hintergrundfarbe);

}

.boxes{
 display: flex; /*in combination with flex in .box, this gives equally long boxes*/
}

.box{
 position: relative;
 background-color: lightgrey;
 width: 22%;
 margin-right: 3%;
 float: left;
 flex: 1;
 color: var(--schriftfarbeTitel);
}


.link{
 background-color: var(----greyBackground);
 color: var(--schriftfarbeTitel);
 position: absolute;
 bottom: 0;
 float: none;
}

.faq{
 float: none;
 margin: 0 auto;
 text-align: center;
 display: inline;
 background-color: var(--hintergrundfarbe);
 color: var(--schriftfarbeTitel);
}

.faqContainer{
 margin-top: 10px;
 text-align: center;
 width: 100%;
}

.imageDiv{
 max-width:100%;
 max-height:100%;
}
